*{
    box-sizing: border-box;
}

.characterList{
    display: flex;
    margin: 10px 10px 10px 10px ;
    flex-wrap: wrap;
    justify-content: center;
}

.personita{
    margin: 10px 10px 10px 10px ;
    padding: 5px 5px 5px 5px ;
    border-style:solid ;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
}